*{
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-family: 'Crimson Pro', serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Libre Baskerville', serif;
font-family: 'Spectral', serif;
}

body{
  margin: 0;
  padding: 0;
}